@page "/vybaveni/{Id:guid}"
@inject HttpClient Http

@if (vybaveni == null)
    return;

<div class="text-2xl text-teal-600 mx-3 my-2">Detail vybaveni</div>

<div class="grid grid-cols-2">
    <div>Název</div>
    <div>@vybaveni.Name</div>
</div>

<div class="flex flex-col">
    <div>Revize:</div>
    @foreach (var rev in vybaveni.Revizes.OrderByDescending(x=>x.DateTime))
    {
        <div>@rev.Name - @rev.DateTime.ToString("yyyy-MM-dd")</div>
    }
</div>

@code {
    [Parameter] public Guid Id { get; set; }
    VybaveniSrevizemaVm? vybaveni;

    protected override async Task OnInitializedAsync()
    {
        vybaveni = await Http.GetFromJsonAsync<VybaveniSrevizemaVm>($"vybaveni/{Id}");
    }
}
